mat-form-field{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    margin: .5rem;
}

mat-card-actions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.textArea{
    margin-top: 1rem;
}

.textAreaContent {
    overflow: hidden;
}

@media screen and(min-width: 425px) {
    ::ng-dep .mat-dialog-container{
        width: 35rem;
    }
}