<mat-card class="about mat-elevation-z4">
    <mat-card-header>
        <div mat-card-avatar class="card-header-image"></div>
        <mat-card-title>
            <a href="https://github.com/SuellenMoreiraLima" class="link">Suellen Moreira Lima</a>
        </mat-card-title>
        <mat-card-subtitle class="title">Full Stack Developer</mat-card-subtitle>
    </mat-card-header>
    <mat-card-title class="title">Tudo certo jovem!</mat-card-title>
    <mat-card-subtitle class="subtitle">Sobre mim</mat-card-subtitle>
    <mat-card-content class="mat-card-content">
        <p>
            :) Olá. Tenho 25 anos, e curso ADS.
            Estou fazendo cursos e bootcamps para me aprimorar.
            Trabalho como Desenvolvedora Trainee Java(Spring boot) e Angular
        </p>
        <a href="https://github.com/SuellenMoreiraLima" target="_blank"></a>
        <img src="https://img.shields.io/badge/Github-100000?style=for-the-badge&logo=github&logoColor=white" alt="github-logo">
    </mat-card-content>
</mat-card>